<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    {% block cabecera %}
        <a href="{{path('estudiante_logout')}}">Cerrar Sesion</a>
    {% endblock %}

    {% block navegacion %}
        <ul>
            <li><a href=".">Inicio</a></li>
            <li><a href=".">Perfil</a></li>
            <li><a href=".">Proyecto</a></li>
            <li><a href=".">Seguimiento</a></li>
            <li><a href=".">Defensa</a></li>
        </ul>
    {% endblock %}

    {% block contenido %}

    {% endblock %}
</body>
</html>